.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.Container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid black;
  padding: 10px;
}

.Container button{
  margin: 5px;
}